html{
	padding: 0 10px;
	background-image: url("../Images/Bcg/textura_pocty.png");
}
body{
	margin: 0px;
	padding: 0px;
	font-size: 26px;
}
::selection{
	color: white;
	background: #1e1b85;
}
article{
	position: relative;
	padding-top: 20px;
	background-color: white;
}
#rideSide label{
	opacity: 0;
	position: absolute;
}
ol
{	background: #f6f6f6;
	margin: 0;
	padding: 25px 50px;
}
h1{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 27px;
	font-weight: 900;
	background-color: #00264d;
	padding: 10px 0 10px 25px;
	color: white;
}
h2{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 0px;
	padding: 10px 0 10px 10px;
	color: white;
	background: #1c5387;
}
h2, h3, h4{
	position: relative;
}
h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
p{
	font-family: 'Roboto Slab', serif !important;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}
.center{
	margin: 0 auto;
}
.vedle{
	display: flex;
}
/*????????????????????*/
h1 a.info{
	color: white;
}
a.info{
	color: black;
	text-decoration: none;
}
/*Drop down*/
.off{
	background-image: url("../Images/Arrow/arrowDownWhite.png");
	background-repeat: no-repeat;
	background-size: 25px;
	height: 24px;
	width: 26px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.on{
	background-image: url("../Images/Arrow/arrowUpWhite.png");
	background-repeat: no-repeat;
	background-size: 25px;
	height: 24px;
	width: 26px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.hidden{
	visibility: hidden;
	width: 0;
	height: 0;
}
.visible{
	visibility: visible;
	height: auto;
	width: auto;
}
#cross{
	padding: 15px;
	position: absolute;
	top: -10px;
	right: 0;
	cursor: pointer;
}
/*Záhlaví a zápatí*/
#hlavicka{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
}
#topHeader{
	height: 50px;
	background: #00264d;
}
#topHeader a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}
#topHeader a:hover{
	text-decoration: underline;
}
#topHeader a:visited{
	color: white;
}
#topHeader p{
	color: white;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 5px;
	float: right;
}
.cara{
	visibility: hidden;
	margin-left: 15px;
	margin-right: 5px;
}
#headerEmail{
	background: url("Images/Obalka.png");
	background-repeat: no-repeat;
	background-position: left 8px;
	padding-left: 35px;
}
#headerText{
	visibility: hidden;
	position: absolute;
}
#logoContain{
	margin-left: 60px;
}
#logoContain p{
	position: relative;
}
#logoContain span#Calcit{
	font-size: 48px;
	color: #020054;
	position: absolute;
	top: 55px;
	left: 150px;
}
#logoContain span#definition{
	font-size: 30px;
	color: #434273;
	position: absolute;
	top: 60px;
	left: 285px;
}
#logo{
	margin-top: 25px;
	margin-bottom: 15px;
	width: 130px;
}
#bottomHeader{
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #1c5387;
}
nav ul{
	list-style-type: none;
	display: flex;
	padding: 0;
	margin-left: 2px;
}
nav a{
	color: white;
	background: #1c5387;
	padding: 29px 50px;
	margin-top: 50px;
	font-size: 28px;
	text-decoration: none;
}
nav a:hover{
	transition: .4s;
	color: #1c5387;
	background: white;
	cursor: pointer;
}
/*Content*/
#main{
	margin: 0 40px;
}
#content{
	width: 100%;
	margin-top: 240px;
	float: left;
	background: white;
}
#leftPart p{
	background: #f6f6f6;
	padding-left: 20px;
}
#leftPartContent p{
	background: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#leftPartContent ul{
	margin: 0;
	background: #f6f6f6;
	list-style-type: none;
	padding: 0px;
	padding-left: 20px;
	padding-top: 20px;
}
#image{
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
	/*Practice*/
#practice{
	padding-bottom: 10px;
	padding-top: 10px;
}
#practicePDF{
	border-radius: 3px;
	padding: 5px 8px;
	background-color: #1c5387;
	color: white;
	text-decoration: none;
}
#practicePDF:hover{
	color: black;
	border: 2px solid #1c5387;
	background-color: white;
	transition: 0.4s;
}
	/*Kalkulačka*/
label{
	width: 60px;
}
#kalkulace{
	background: #f6f6f6;
}
#kalkulace .vedle, #buttons{
	padding-left: 15px;
}
#mezeraProNapoveda{
	margin-left: 51px;
	margin-bottom: 10px;
	color: white;
	padding: 10px 0 10px 10px;
	background-color: #00264d;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#napovedaMove{
	position: relative;
}
#napovedaMove h3{
	background: #00264D;
	color: white;
	margin-bottom: 0;
	padding: 10px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#napoveda{
	padding: 15px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 2px;
	color: #fcfcfc;
	text-align: center;
	background: #00264d;
}
#napovedaContainer{
	width: 50px;
	height: 50px;
	position: absolute;
}
#napoveda:hover{
	cursor: pointer;
}
#cislo1, #cislo2, #cislo3, #cislo4, #cislo5, #cislo6{
	margin-left: 20px;
	width: 175px;
	height: 30px;
	border-radius: 12px;
	border: 2px solid #1c5387;
}
input:focus {
	outline: none;
}
#Jednotka{
	height: 72px;
	width: 65px;
	font-size: 26px;
	color: #3d3838;
	border-radius: 12px;
	margin-left: 1px;
	border: 2px solid #1c5387;
}
#Jednotka:hover{
	cursor: pointer;
}
#buttons{
	margin-top: 7px;
	margin-left: 97px;
}
#spocitat{
	font-size: 15px;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px 15px;
	background-color: #1c5387;
	margin-right: 12px;
	border: 0px;
	border-radius: 12px;
	color: white;
}
#smazat{
	font-size: 15px;
	height: 40px;
	padding: 10px 15px;
	background-color: #1c5387;
	border: 0px;
	border-radius: 12px;
	color: white;
}
#smazat:hover, #spocitat:hover{
	transition: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px solid #1c5387;
}
.count{
	margin: 0 40px 10px 40px;
	border-bottom: 1px solid #00264d;
}
.warning{
	color: #de1b1b;
	font-size: 22px;
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}
#ilustracion {
	max-width: 300px;
	height: auto;
}
/*Footer*/
#footer{
	width: 100%;
	background-color: #e8e8e8;
	position: sticky;
	top: 30%;
}
#footer h2{
	color: white;
	/*height: 86px;*/
	background-color: #00264d;
	/*text-align: center;*/
	font-size: 27px;
	padding: 10px 0 10px 25px;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#line{
	padding: 0;
	margin: 0;
}
.footerButtons {
	background-color: #1c5387;
	font-size: 20px;
	border: 1px solid #00264d;
	border-top: none;
	text-align: center;
	color: white;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
}
.footerButtons a{
	/*padding: 10px;*/
	margin: 0;
	color: white;
	padding: 10px;
	text-decoration: none;
}
.footerButtons a:hover{
	text-decoration: underline;
}
/*.footerButtons:hover, .footerButtons a:hover {
	background-color: white;
	text-align: center;
	color: black;
	font-weight: 600;
	cursor: pointer;
	transition: .4s;
}*/
/*Zápatí*/
#designers{
	margin: 0 auto;
}
#footerText{
	text-align: center;
	width: 100%;
	color: white;
	background: #00264d;
	/*position: absolute;
	bottom: 0;*/
}

@media (max-width: 340px){
	body{
		font-size: 15px;
	}
	.jehlan{
		color: red;
	}
}

@media (min-width: 600px){
	article{
		height: 100%;
		width: 95%;
		margin: 0 auto;
		max-width: 1300px;
	}
	#Jednotka{
		width: 72px;
	}
	#content{
		padding-bottom: 85px;
		margin-top: 270px;
	}

}

@media (min-width: 890px){
	#topHeader{
		visibility: visible;
		background: #00264d;
		height: 50px;
	}
	#headerText{
		visibility: visible;
		position: unset;
	}
	.off{
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.on{
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.hiden{
		visibility: visible;
		height: auto;
		width: auto;
	}
}

@media (min-width: 950px){
	#content{
		position: relative;
	}
	#footer{
		margin-top: 410px;
		margin-left: 40px;
		width: 45%;
	}
	#napovedaContainer{
		top: 14px;
	}
	#leftPart{
		height: 330px;
		width: 49%;
	}
	#rightPart{
		width: 45%;
		float: right;
		margin-right: 40px;
	}
	#leftPartContent{
		width: 49%;
		float: left;
		/*margin-right: 22px;*/
	}
	#rightPartContent{
		width: 45%;
		float: right;
		margin-right: 40px;
	}
	#ilustracion{
		margin-top: 0px;
		padding: 0px;
	}
	#napovedaMove{
		top: 7px;
	}
}

@media (min-width: 1110px){
	#footer h2{
		/*height: 56px;*/

	}
}