body{
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #3d3838;
	background: rgb(174,219,224);
	background: linear-gradient(90deg, rgba(174,219,224,1) 0%, rgba(13,154,217,1) 35%, rgba(13,154,217,1) 65%, rgba(174,219,224,1) 100%);
}
::selection{
	color: white;
	background: #171775;
}
article{
	width: 95%;
	position: relative;
	padding-top: 20px;
	padding-left: 15px;
	padding-bottom: 20px;
}
a.info{
	color: #0e0e80;
	text-decoration: none;
}
#hlavicka{
	height: 200px;
	width: 95%;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}
#content{
	width: 100%;
	margin-top: 200px; 
}
#image{
	text-align: center;
	width: 100%;
}
label{
	width: 40px;
}
#cislo1, #cislo2, #cislo3, #cislo4, #cislo5, #cislo6{
	margin-left: 14px;
	width: 175px;
	height: 30px;
}
.vedle{
	display: flex;
}
#Jednotka{
	height: 72px;
	width: 72px;
	font-size: 26px;
	color: #3d3838;
}
#Jednotka:hover{
	cursor: pointer;
}
p{
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}
#buttons{
	margin-left: 55px;
}
#spocitat{
	margin-bottom: 20px;
	height: 25px;
	padding: 5px 12px;
	background-color: white;
	margin-right: 12px;
	border: 0px;
	border-radius: 3px;
	color: #3d3838;
}
#smazat{
	height: 25px;
	padding: 5px 12px;
	background-color: white;
	border: 0px;
	border-radius: 3px;
	color: #3d3838;
}
#smazat:hover, #spocitat:hover{
	transition: 0.4s;
	cursor: pointer;
	background-color: #aedbe0;
}
#ilustracion {
	max-width: 95%;
	height: auto;
}
#vlastnosti{
	margin-left: 5px;
}
#line ul{
	list-style-type: none;
}
#line ul li{
	margin-bottom: 25px;
	display: inline-block;
}
#line ul li a{
	margin: 0 auto 25px auto;
	text-decoration: none;
	border-radius: 3px;
	background-color: white;
	color: #3d3838;
}
#line ul li a:hover{
	text-decoration: none;
	border-radius: 3px;
	background-color: #aedbe0;
	color: #3d3838;
	transition: 0.4s;
}
#Odkaz1{
	padding: 10px 20px;
}
#Odkaz2{
	padding: 10px 20px;
}
#Odkaz3{
	padding: 10px 20px;
}
#Odkaz4{
	padding: 10px 20px;
}
#Odkaz5{
	padding: 10px 20px;
}
#Odkaz6{
	padding: 10px 20px;
}
option:hover{
	color: white;
	background-color: #171775;
}
nav ul{
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	float: left;
	margin-left: 20px;
}
nav ul li a{
	display: inline-block;
	background-color: white;
	padding: 10px 13px;
	border-radius: 3px;
	text-decoration: none;
	color: #3d3838;
}
nav ul li :hover{
	display: inline-block;
	background-color: #aedbe0;
	color: #3d3838;
	transition: 0.4s;
}
#password{
	margin: 20px 0 0 20px;
}
#definition{
	font-size: 18px; 
}
#Calcit{
	font-size: 22px;
	font-weight: bold;
}
#logo{
	float: right;
	width: 30%;
	height: auto;
}
#left{
	width: 98%;
}
h1{
	font-size: 27px;
	font-weight: 900;
}
h2, h3, h4, h5, h6{
	font-size: 25px;
	font-weight: 600;
}
#mezeraProNapoveda{
	margin-left: 50px;
}
#napovedaMove{
	position: relative;
}
#napoveda{
	padding: 15px;
	height: 15px;
	width: 15px;
	line-height: 15px;
	border-radius: 50%;
	background-color: #0f2266;
	color: #aedbe0;
	text-align: center;
}
#napoveda:hover{
	transition: 0.4s;
	background-color: #4848fa;
	color: #0f2266;
}
#napovedaContainer{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -7.5px; 
}
#napoveda:hover{
	cursor: pointer;
}
#ilustracion{
	box-shadow: 5px 3px 17px 4px #64648f;
}
.count{
	margin-bottom: 10px;
	border-bottom: 1px solid #2f2f73;
}
#practice{
	margin-top: 20px;
}
p#practice{
	margin: 15px 0px;
}
#practicePDF{
	border-radius: 3px;
	padding: 5px 8px;
	background-color: white;
	color: #3d3838;
	text-decoration: none;
}
#practicePDF:hover{
	color: #0c0c9c;
	background-color: #aedbe0;
	transition: 0.4s;
}

@media (max-width: 340px){
	body{
		font-size: 15px;
	}
	.jehlan{
		color: red;
	}
}

@media (max-width: 599px){
	#napovedaContainer{
		top: -10px;
	}
}

@media (min-width: 600px){
	#content{
		margin-top: 210px;
	}
	#logoContain{
		position: relative;
		margin-left: 20px;
	}
	#logo{
		width: 170px;
		position: absolute;
		top: 20px;
		left: 0px;
	}
	#left{
		position: relative;
	}
	#password{
		position: absolute;
		top: 140px;
		left: 50px;
	}
	#right{
		position: relative;
	}
	nav{
		position: absolute;
		top: 0px;
		left: 200px;
	}
}

@media (min-width: 950px){
	#content{
		position: relative;
	}
	#footer{
		margin-top: 550px;
	}
	#napovedaContainer{
		top: 15px;
	}
	#leftPart{
		position: absolute;
		top: 200px;
		left: 0px;
		height: 400px;
		width: 49%;
		float: left;
	}
	#rightPart{
		height: 400px;
		width: 49%;
		float: right;
		margin-top: 10px;
	}
	#footer{
		width: 49%;
	}
	#leftPartContent{
		width: 49%;
		float: left;
	}
	#rightPartContent{
		width: 49%;
		float: left;
	}
	#ilustracion{
		margin: 0px;
		padding: 0px;
	}
	#image{
		text-align: left;
	}
}