.slider h1{
	text-align: center;
	padding-top: 15px;
}
.slider h1,.slider h2,.slider h3,.slider h4,.slider h5,.slider h6{
	color: #282828;
}
.slider {
	margin: auto auto;
	background: #cecece;
	width: 545px;
	height: 500px;
}
.sliderContent{
	margin: 25px;
	position: relative;
}
.slide{
	background: #cecece;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: -25px;
	margin-right: -25px;
	position: absolute;
	height: 0;
	visibility: hidden;
}
.slide h2{
	text-align: left;
	margin-top: 15px;
}
.slide p{
	margin-top: 30px;
	text-align: left;
	padding-bottom: 25px;
}
.slider .slide {
	text-align: center;
	font-size: 20px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	opacity: 0;
	cursor: pointer;
}
.authorBox{
	position: relative;
}
p.author{
	position: absolute;
	bottom: -470px;
	right: 0px;
	color: #cecece;
	font-style: italic;
}
.slider .slide.active{
	position: unset;
	opacity: 1;
	width: auto;
	height: auto;
	visibility: visible;
}