section{
	margin-top: 200px;
}
ul{
	list-style-type: none;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0px;
	padding: 0px; 
}
h2, h3, h4, h5, h6{
	font-weight: 500;
}
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	color: #0c0c9c;
}
.pozn{
	font-weight: 800;
	float: right;
	width: 300px;
}
#footerText{
	position: absolute;
	left: .25px;
	bottom: -160px;
}
#multiBar{
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
}
#multiBar a img{
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
}

@media (min-width: 950px){
	#leftPart{
		height: 250px;
	}
}

@media (min-width: 1300px){
	#multiBar{
		height: auto;
		width: auto;
		position: relative;
	}
	#multiBar a img{
		position: absolute;
		visibility: visible;
		height: 150px;
		width: auto;
		border-radius: 5px;
		box-shadow: 10px 3px 15px 2px #64648f;
	}
	#ctverec{
		top: -30px;
		right: 5%;
	}
	#kosoctverec{
		top: -15px;
		right: 22%;
	}
	#kruh{
		top: 200px;
		right: 1%;
	}
	#lichobeznik{
		top: 240px;
		right: 18%;
	}
	#obdelnik{
		top: 330px;
		right: 39%;
	}
	#rovnobeznik{
		top: -70px;
		right: 43%
	}
	#trojuhelnik{
		top: 125px;
		right: 50%;
	}
}