section{
	margin-top: 330px;
	margin-right: auto;
	margin-left: auto;
}
h1, h2, h3, h4, h5, h6{
	margin: 0px 0px;
	padding: 0px; 
}
h4, h5, h6{
	font-weight: 500;
}
h1{
	font-size: 36px;
	text-align: left;
	padding: 10px;
}
h3{
	background-color: #1c5387;
	text-align: left;
	padding: 10px;
	font-weight: bold;
}
h3 a{
	color: white;
	font-size: 30px;
}
h3 a:hover{
	text-decoration: underline;
	color: white;
}
section ul{
	list-style-type: none;
	margin: 0px;
	padding: 15px 0px;
	padding-left: 35px;
}
.item{
	margin-bottom: 0px
}
a{
	color: #000000;
	text-decoration: none;
	font-size: 25px;
}
.item a:hover{
	color: #020054;
	text-decoration: underline;
}

#stBar ul, #ndBar ul{
	background-color: #f6f6f6;
	padding-bottom: 15px;
}
/*-------------------------------------------------------------*/
/*section{
	margin-top: 200px;
}
ul{
	list-style-type: none;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 0px 0px;
	padding: 0px; 
}
h1, h2, h3, h4, h5, h6{
	font-weight: 500;
}
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	color: #0c0c9c;
}*/
#multiBar{
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
}
#multiBar a img{
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
}

@media (min-width: 600px){
	#footerText{
		position: absolute;
		right: 0;
		bottom: -35px;
	}
	article{
		padding-bottom: 50px;
	}
	section{
		width: 95%;
	}
	h1, h3{
		text-align: center;
	}
}

@media (min-width: 950px){
	#leftPart{
		height: 250px;
	}
}


@media (min-width: 1130px){
	.midBar{
		display: flex;
		margin-top: 40px;
	}
	#stBar{
		margin-right: 45px;
		width: 50%;
	}
	#ndBar{
		width: 50%;
	}
}

@media (min-width: 1300px){
	#multiBar{
		height: auto;
		width: auto;
		position: relative;
	}
}