section{
	margin-top: 200px;
}
#info{
	margin: 0px 20px;
}
ul{
	list-style-type: none;
}
#favouriteMatematika{
	margin-top: -10px;
}
#favouriteFyzika li{
	margin-bottom: 25px;
	display: inline-block;
}
#favouriteFyzika li a{
	margin: 0 auto 25px auto;
	text-decoration: none;
	border-radius: 3px;
	background-color: white;
	padding: 10px 20px;
	color: #3d3838;
}
#favouriteFyzika li a:hover{
	text-decoration: none;
	border-radius: 3px;
	background-color: #aedbe0;
	color: #3d3838;
	transition: 0.4s;
}
#favouriteMatematika li{
	margin-bottom: 25px;
	display: inline-block;
}
#favouriteMatematika li a{
	margin: 0 auto 25px auto;
	text-decoration: none;
	border-radius: 3px;
	background-color: white;
	padding: 10px 20px;
	color: #3d3838;
}
#favouriteMatematika li a:hover{
	text-decoration: none;
	border-radius: 3px;
	background-color: #aedbe0;
	color: #3d3838;
	transition: 0.4s;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0px;
	padding: 0px; 
}
h4, h5, h6{
	font-weight: 400;
}/*
.item{
	display: block;
	margin-bottom: 12px;
}
.itemData{
	padding: 5px 10px;
	background-color: white;
	border-radius: 3px;
	color: #3d3838;
}*/
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
h4 a:hover, h5 a:hover, h6 a:hover{
	color: #0c0c9c;
}
footer{
	margin-top: 50px;
}

@media (min-width: 1385px){
	section{
		margin-top: 220px;
	}
	#fyzika{
		margin-right: 90px;
		float: right;
	}
	#matematika{
		margin: 0px 90px;
		float: left;
	}
	#clear{
		clear: both;
	}
}