section{
	margin-top: 200px;
}
.info{
	margin: 0px 20px;
}
ul{
	list-style-type: none;
}
#favouriteFyzika li{
	margin-left: -30px;
	margin-bottom: 25px;
}
#favouriteFyzika li a{
	margin: 0 auto 25px auto;
	text-decoration: none;
	border-radius: 3px;
	background-color: #24004d;
	padding: 10px 23.044px;
	color: #fcfcfc;
}
#favouriteFyzika li a:hover{
	text-decoration: none;
	border-radius: 3px;
	background-color: #9152de;
	color: #fcfcfc;
	transition: 0.4s;
}
#favouriteMatematika li{
	margin-left: -30px;
	margin-bottom: 25px;
}
#favouriteMatematika li a{
	margin: 0 auto 25px auto;
	text-decoration: none;
	border-radius: 3px;
	background-color: #24004d;
	padding: 10px 20px;
	color: #fcfcfc;
}
#favouriteMatematika li a:hover{
	text-decoration: none;
	border-radius: 3px;
	background-color: #9152de;
	color: #fcfcfc;
	transition: 0.4s;
}
#fyzika ul{
	margin-left: -15px;
}
#matematika ul{
	margin-left: -15px;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0px;
	padding: 0px; 
}
h4, h5, h6{
	font-weight: 500;
}
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
h4 a:hover, h5 a:hover, h6 a:hover{
	color: #0c0c9c;
}
footer{
	margin-top: 50px;
}
#footerText{
	position: absolute;
	bottom: -130px;
	left: .25px;
}

@media (min-width: 600px){
	section{
		margin-top: 220px;
	}
	#favouriteMatematika li{
		margin: 0px;
		margin-bottom: 25px;
		display: inline-block;
	}
	#favouriteFyzika li{
		margin: 0px;
		margin-bottom: 25px;
		display: inline-block;
	}
	#clear{
		clear: both;
	}
}

@media (min-width: 1110px){
	#fyzika{
		float: left;
		margin-left: 70px;
	}
	#matematika{
		margin: 0px 0px;
		float: right;
	}
}