#Odkaz1{
	padding-left: 66px;
	padding-right: 66px;
}
#Odkaz2{
	padding-left: 55.5px;
	padding-right: 55.5px;
}
#Odkaz3{
	padding-left: 49.5px;
	padding-right: 49.5px;
}
#Odkaz4{
	padding-left: 41px;
	padding-right: 41px;
}
#Odkaz5{
	padding-left: 20px;
	padding-right: 20px;
}