#footer h2{
	height: 126px;
}
#footer{
	margin-top: 0;
}

@media (min-width: 410px){
	#footer h2{
		height: 86px;
	}
}

@media (min-width: 950px){
	#leftPartContent{
		float: none;
		width: 100%;
	}
	#rightPartContent{
		float: right;
	}
}