#Směrování na https://
RewriteEngine On
RewriteBase /

RewriteCond %{ENV:HTTPS} !^.*on
RewriteRule ^(.*)$ https://www.calc-it.eu/CZ/Fyzika/Kinematika/ZrychleniZalozeneNaRychlosti/ZrychleniZalozeneNaRychlosti.html/$1 [R,L]

#Gzip
<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|ttf|svg)$">
        SetOutputFilter DEFLATE
        Header always set Vary "Accept-Encoding"
    </FilesMatch>
</IfModule>