#spocitat{
	margin-right: 22px;
}
#Jednotka{
	height: 144px;
	width: 82px;
	font-size: 15px;
}
#footer{
	margin-top: 0px;
}
#footerText{
	height: 80px;
}

@media (max-width: 340px){
	#Jednotka{
		width: 68px;
	}
	#spocitat{
		margin-right: 9px;
	}
}

@media (min-width: 600px){
	#footerText{
		bottom: 1000px;
	}
	#rightPartContent{
		margin-top: 0px;
	}
}

@media (min-width: 950px){
	#footer{
		padding-bottom: 80px;
		margin-top: 350px;
	}	
}

@media (min-width: 1130px){
	.midBar{
		display: flex;
		width: 1030px;
	}
	#stBar{
		margin-right: 70px;
	}
}