section{
	margin-top: 200px;
}
ul{
	list-style-type: none;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0px;
	padding: 0px; 
}
h2, h3, h4, h5, h6{
	font-weight: 500;
}
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	color: #0c0c9c;
}
footer{
	margin-top: 50px;
}
#footerText{
	position: absolute;
	left: .25px;
	bottom: -102px;
}

@media (min-width: 600px){
	#footerText{
		position: absolute;
		left: .25px;
		bottom: -194px;
	}
	article{
		max-width: 2000px;
	}
	#rightPartContent{
		margin-top: -200px;
	}
}

@media (min-width: 1385px){
	section{
		margin-top: 220px;
	}
	#clear{
		clear: both;
	}
}