section{
	margin-top: 550px;
	margin-bottom: 40px;
}
ul{
	list-style-type: none;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0px;
	padding: 0px; 
}
h2, h3, h4, h5, h6{
	font-weight: 400;
}
h1{
	background-color: #00264d;
	padding: 10px 0px 10px 10px;
	font-weight: 500;
	color: white;
	font-size: 36px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 20px;
	margin-bottom: 0;
}
h2{
	background-color: #00264d;
	padding: 10px 0px 10px 10px;
	color: white;
	font-weight: 500;
	font-size: 36px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 25px;
	margin-bottom: 0;
	padding-left: 20px;
}
h3{
	background-color: #1c5387;
	padding: 10px 0px 10px 10px;
	margin: 0;

}
h3 a{
	color: white;
}
h3 a:hover{
	text-decoration: underline;
}
section ul{
	background-color: #f6f6f6;	
	margin: 0px;
	padding: 15px 0px;
	padding-left: 35px;
}
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
#multiBar{
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
}
#multiBar a img{
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
}
@media (min-width: 1399px){
	#multiBar{
		height: auto;
		width: auto;
		position: relative;
	}
	#multiBar a img{
		position: absolute;
		visibility: visible;
		height: 150px;
		width: auto;
		border-radius: 5px;
		box-shadow: 10px 3px 15px 2px #64648f;
	}
	#ctverec{
		top: -150px;
		right: 5%;
	}
	#kosoctverec{
		top: -140px;
		right: 22%;
	}
	#kruh{
		top: 110px;
		right: 1%;
	}
	#lichobeznik{
		top: 130px;
		right: 18%;
	}
	#obdelnik{
		top: 100px;
		right: 39%;
	}
	#rovnobeznik{
		top: -130px;
		right: 43%
	}
	#trojuhelnik{
		top: 125px;
		right: 60%;
	}
}

@media (min-width: 680px){
	section{
		margin-top: 390px;
	}
}

@media (min-width: 891px){
	section{
		margin-top: 290px;
	}
	#main{
		width: 45%;
		margin: 0 auto;
	}
}

@media (min-width: 1385px){
	#clear{
		clear: both;
	}
}