#Odkaz1{
	padding-left: 63.68px;
	padding-right: 63.68px;
}
#Odkaz2{
	padding-left: 20px;
	padding-right: 20px;
}
#Odkaz3{
	padding-left: 59.9px;
	padding-right: 59.9px;
}
#Odkaz4{
	padding-left: 44.775px;
	padding-right: 44.775px;
}
#Odkaz5{
	padding-left: 53.285px;
	padding-right: 53.285px;
}
#Odkaz6{
	padding-left: 54.705px;
	padding-right: 54.705px;
}
#Odkaz7{
	padding-left: 49.025px;
	padding-right: 49.025px;
}
#footer{
	margin-top: 0px;
	padding-bottom: 0px;
}
#cislo1{
	margin-left: 0px;
}
#Jednotka1{
	margin-right: 10px;
}
#Jednotka2{
	margin-left: 10px;
}
#buttons{
	margin-left: 0px;
	padding: 0px;
}
#spocitat{
	margin-right: 85px;
}
#on{
	margin-top: 5px;
}
#rightPartOfPrevody{
	margin-left: 50px;
}