section{
	margin-top: 200px;
	height: 600px;
}
.podobne{
	margin-top: 90px;
}
ul{
	list-style-type: none;
}
a{
	color: #3d3838;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0px;
	padding: 0px; 
}
h1{
	margin-bottom: 0;
}
h1, h2{
	padding: 15px;
	background: #00264d;
	color: white;
}
h2{
	border-radius: 0;
	background: #1c5387;
}
h2, h3, h4, h5, h6{
	font-weight: 400;
}
.item{
	margin-bottom: 6px
}
.item a:hover{
	color: #0c0c9c;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	color: #0c0c9c;
}
#multiBar{
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
}
#multiBar a img{
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
}
#leftPartContent{
	background: #f6f6f6;
	padding-bottom: 20px;
}
#leftPartContent ul{
	padding-left: 20px;
}
#leftPartContent h2{
	margin-top: 0;
}

@media (min-width: 1399px){
	#multiBar{
		height: auto;
		width: auto;
		position: relative;
	}
	#multiBar a img{
		position: absolute;
		visibility: visible;
		height: 150px;
		width: auto;
		border-radius: 5px;
		box-shadow: 10px 3px 15px 2px #64648f;
	}
	#ctverec{
		top: -150px;
		right: 5%;
	}
	#kosoctverec{
		top: -140px;
		right: 22%;
	}
	#kruh{
		top: 110px;
		right: 1%;
	}
	#lichobeznik{
		top: 130px;
		right: 18%;
	}
	#obdelnik{
		top: 100px;
		right: 39%;
	}
	#rovnobeznik{
		top: -130px;
		right: 43%
	}
	#trojuhelnik{
		top: 125px;
		right: 60%;
	}
}

@media (min-width: 950px){
	#leftPartContent {
		width: 100%;
		float: none; 
		margin-right: 20px;
	}
	#footer{
		margin-top: 0;
	}
}

@media (min-width: 1385px){
	section{
		margin-top: 300px;
	}
	#clear{
		clear: both;
	}
}