h2 {
	margin-top: 0;
	background-color: #1c5387;
	color: white;
}
#content{
	min-height: 544px;
}
#law{
	max-width: 100%;
	background-color: #f6f6f6;
}
#law p{
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 65px;
	padding-right: 25px;
	/*text-align: justify;*/
}
#footer{
	margin-top: 100px;
}
#rightPartContent p img{
	margin-top: 100px;
	max-width: 70%;
}
#leftPartContent{
	margin-right: 0px;
	width: 450px;
	float: none;
}
#withoutWarning{
	text-align: center;
	margin: 20px 0px;
}
#Odkaz1{
	padding-right: 20px;
	padding-left: 20px;
}
#Odkaz2{
	padding-right: 25.165px;
	padding-left: 25.165px;
}
#Odkaz3{
	padding-right: 53.475px;
	padding-left: 53.475px;
}
#Odkaz4{
	padding-right: 20px;
	padding-left: 20px;
}
#Odkaz5{
	padding-right: 38.415px;
	padding-left: 38.415px;
}
#Odkaz6{
	padding-right: 33.695px;
	padding-left: 33.695px;
}
#Odkaz7{
	padding-right: 40.295px;
	padding-left: 40.295px;
}
#Odkaz8{
	padding: 10px 21.42px;
}

@media (max-width: 630px){
	ul ul{
		margin-top: 23px;
	}
	#Odkaz3{
		padding-right: 50.475px;
		padding-left: 50.475px;
	}
}

@media (min-width: 950px){
	#rightPartContent{
		margin-top: -50px;
	}
	#footer {
    	width: 49%;
	}
}
