#Jednotka{
	height: 144px;
}
#ilustracion{
	max-width: 59%;
	height: auto;
}
ul#vlastnosti li ol li ul{
	list-style-type: disc;
}
ul#vlastnosti li ol li{
	margin-bottom: 5px;
}

@media (min-width: 950px){
	#rightPart{
		margin-top: -350px;
	}
}