#cislo1{
	margin-left: 14px;
	width: 175px;
	height: 30px;
}
#cislo2{
	width: 175px;
	height: 30px;
	margin-left: 13px;
}
#cislo3{
	width: 175px;
	height: 30px;
	margin-left: 14px;
}
#Jednotka{
	height: 108px;
	width: 72px;
	font-size: 26px;
	color: #3d3838;
}
#buttons{
	margin-left: 36px;
}

@media (max-width: 340px){
	#line ul{
		margin: 0;
		padding: 0
	}
	#buttons{
		margin-left: 35px;
	}
}